@using System.Collections.Generic
@model Learning.Models.AuthorAllModel
﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Search Result";
}

<!DOCTYPE html>

<!--search box-->
<div id="author-head-content">
    <div id="custom-search-input">
        <div class="input-group col-md-12" style="margin-top: 50px;">
            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
            {
                <div class="input-group" style="margin-bottom:10px; width:100%;">
                    @Html.TextBoxFor(m => m.searchModel.key, new { @class = "form-control" })
                    <div class="input-group-btn">
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!--result box-->
<div id="author-result-content">
    <table class="table author-table" style="margin-top: 20px;">
        <tbody id="author_tab_body">
            @if (Model.searchModel.searchResult.Count > 0)
            {
                for (int i = 0; i < Model.searchModel.searchResult.Count; i++)
                {
                    <tr class="tab_body_r">
                        <td class="tab_body_a">
                            @Model.searchModel.searchResult[i].UserId.ToString()
                        </td>
                        <td class="tab_body_a">
                            @Model.searchModel.searchResult[i].Fullname.ToString()
                        </td>
                        <td class="tab_body_a">
                            @Model.searchModel.searchResult[i].Affiliasi.ToString()
                        </td>
                        <td>@Html.ActionLink("View", "ViewProfile", new { id = Model.searchModel.searchResult[i].UserId.ToString() })</td>
                    </tr>
                }
            }
            else
            {
                <tr class="tab_body_r">
                    <td class="tab_body_a">
                        <span>Hasil tidak ditemukan</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*<div class="author-table-foot">
            <div class="result-info-text">
                <p>Menampilkan 2 dari xxx.xxx hasil</p>
            </div>
            <div class="result-info-btn">
                <button class="btn result-btn">1</button>
            </div>
        </div>*@
</div>
