@using System.Collections.Generic
@using System.Data
@model Learning.Models.AuthorAllModel

﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Search Result";
}

<!DOCTYPE html>
<div style="margin-top:70px;">
    <div class="col-md-8">
        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
        {
            <div class="input-group" style="margin-bottom:10px; width:100%;">
                @Html.TextBoxFor(m => m.searchAuthor.key, new { @class = "form-control" })
                <div class="input-group-btn">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
        <hr>
        <div>
            <table class="table author-table" style="margin-top: 20px;">
                <tbody id="author_tab_body">
                    @if (Model.searchAuthor.authorList.Rows.Count > 0)
                    {
                        for (int i = 0; i < Model.searchAuthor.authorList.Rows.Count; i++)
                        {
                            <tr class="tab_body_r">
                                <td class="tab_body_a">
                                    @Model.searchAuthor.authorList.Rows[i]["ID"].ToString()
                                </td>
                                <td class="tab_body_a">
                                    @Model.searchAuthor.authorList.Rows[i]["Nama"].ToString()
                                </td>
                                @if (int.Parse(Model.searchAuthor.authorList.Rows[i]["ID Account"].ToString()) > 0)
                                {
                                    <td>@Html.ActionLink("View", "AuthorProfile", new { id = int.Parse(Model.searchAuthor.authorList.Rows[i]["ID Account"].ToString()) })</td>
                                }
                                @if (Session["LogedUserID"] != null && int.Parse(Model.searchAuthor.authorList.Rows[i]["ID Account"].ToString()) == 0)
                                {
                                    <td>@Html.ActionLink("Merge", "MergeAction", new { id = int.Parse(Model.searchAuthor.authorList.Rows[i]["ID"].ToString()) })</td>
                                }
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="tab_body_r">
                            <td class="tab_body_a">
                                <span>Hasil tidak ditemukan</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well" style="background-color:#57BF98">
            <div class="container-fluid">
                <h4>Range Year</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-5">
                            <select class="form-control">
                                <option>2016</option>
                                <option>2015</option>
                                <option>2014</option>
                                <option>2013</option>
                                <option>2012</option>
                                <option>2011</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <select class="form-control">
                                <option>2016</option>
                                <option>2015</option>
                                <option>2014</option>
                                <option>2013</option>
                                <option>2012</option>
                                <option>2011</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary"><span class="fa fa-play"></span></button>
                        </div>
                    </div>
                </form><br>
                <h4>Sort By</h4>
                <select class="form-control">
                    <option>Year</option>
                    <option>relevance</option>
                </select>
            </div>
        </div>
    </div>
</div>