@*@model Learning.Models.ArticleRecords*@
@using System.Collections.Generic
@model List<Learning.Models.ArticleModel>

@{
    ViewBag.Title = "Article";
}

<div class="container">
    <div class="form-group"></div>
    <div class="form-group"></div>
    <br />
    <br />
    <div class="form-group col-md-2">
        <input id="btnProccessArticle" type="submit" value="Process" class="btn btn-primary" />
    </div>
    <br />
    <br />
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Status</th>
                    <!--<th class="col-md-2">Action</th>-->
                </tr>
            </thead>
            <tbody>
                @foreach(Learning.Models.ArticleModel item in Model)
                {
                    <tr>
                        <td>@item.idArtikel</td>
                        <td>@item.judulArtikel</td>
                        <td>@item.penulisArtikel</td>
                        <td>@item.tahun.Year</td>
                        <td>@item.statusArtikel</td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>

